<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>.gitignore</title>
		<link rel="stylesheet" href={{ url_for('static', filename='main.min.css') }}>
	</head>
	<body>
		<div class="container">
			<div class="logo">
				<a href="/">gitignore.xyz</a>
				<span>Fetch gitignore files with curl</span>
			</div>
			<div class="board">
				<p align="center">
					curl https://gitignore.xyz/{{ pkg_name }} > .gitignore
				</p>
			</div>
			<p class="othermethod"> <strong>OR</strong> copy paste the following code into the .gitignore</p>
			<div class="data">
				{{ pkg|safe }}
			</div>
<!-- 			<div class="footer">
				<ul>
					<li><a href="https://snehesh.me">@Snehesht</a></li>
					<li><a href="https://github.com/snehesht/GitIgnoreApi/">Github</a></li>
				</ul>
			</div> -->
		</div>
	</body>
</html>